:root {
  --bg: rgb(20, 20, 20);
  --primary: rgb(232, 232, 232);
  --secondary: rgb(138, 138, 138);
  --btn-color: rgb(25, 25, 25);
  --btn-hover: rgb(30, 30, 30);
  --boarder-light: hsla(0, 0%, 53%, .2);
  --boarder-dark: rgb(35, 35, 35);
  --page-width: 808px;
}

/* Reset styles */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: hsla(0, 0%, 53%, .2);
}

body {
  background-color: var(--bg);
  color: var(--primary);
  font-family: "Helvetica Neue", sans-serif;
  padding: 2rem;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

h2 {
  font-size: 14.5px;
  font-weight: 500;
  line-height: 1.82;
  color: var(--primary);
  margin-top: 88px;
}

p {
  font-size: 0.95rem;
  margin-top: 1.5rem;
}

.flex {
  display: flex;
}

.page-container {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

.title {
  h1 {
    font-size: 2rem;
    margin-bottom: 0.25rem;
    margin-left: 5px;
  }

  p {
    font-size: 0.95rem;
    color: var(--secondary);
    margin: 0;
  }

  a {
    text-decoration: none;
    color: var(--primary);
  }
}


.logo {
  color: var(--bg);
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  background: var(--primary);
  width: 46px;
  height: 46px;
  transition: all 0.2s;
}

.button,
.button-lg {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 9999px;
  border: 1px solid var(--boarder-dark);
  background-color: var(--btn-color);
  margin-top: 1rem;
  padding: 7px 16px;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
  transform: scale(1);
}

.button:hover,
.button-lg:hover {
  background-color: var(--btn-hover);
  transition-duration: 0.12s;
  transform: scale(1.02);
}

.button-lg {
  display: flex;
  gap: 12px;
  padding: 9px 20px;
  font-size: 16px;
}

.button-label-lg {
  font-size: 15px;
  font-weight: 500;
  color: inherit;
}

.button-label {
  font-size: 12px;
  font-weight: 500;
  color: inherit;
}

.button-icon-lg {
  width: 20px;
  color: var(--secondary);
}

.button-icon {
  width: 18px;
  color: var(--secondary);
}

@media (min-width: 768px) {
  .button {
    display: flex;
    gap: 12px;
    padding: 9px 20px;
    font-size: 16px;
  }

  .button-label {
    font-size: 15px;
  }

  .button-icon {
    width: 20px;
  }
}